<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>Register Fun Run Web</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/messenger.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/messenger-theme-future.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/me">Fun Run Web</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{me.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/me/score">ScoreBoard</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br />
<br /><br />


<div class="container">
    <ol class="breadcrumb">
        <li><a href="/me">Home</a></li>
        <li><a href="#">{{roomInfo.roomName}}</a></li>
        <li><a href="#" id="mapName">{{roomInfo.roomMap}}</a></li>
    </ol>
    <div class="row">
        <div id="game" class="col-xs-9">
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button type="button" id="readyButton" data-loading-text="Wait for others..." class="btn btn-success col-xs-12" autocomplete="off">
                            Ready
                        </button>
                        <br /><br />
                        <a type="button" class="btn btn-danger col-xs-12" id="exit">Exit</a>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Player List</div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked" id="players">
                            <li role="presentation" class="active">
                                <h3><span class="label label-primary">{{me.username}} <span class="glyphicon glyphicon-user" aria-hidden="true"></span></span></h3>
                            </li>
                            {{#each players}}
                            <li role="presentation" class="active">
                                <h3><span class="label label-default player-name">{{.}}</span>
                                <button class="btn btn-success pull-right btn-sm" type="button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Friend
                                </button>
                                </h3>
                            </li>
                                {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">Scan to join!</div>
                    <div class="panel-body">
                        <img id="qrcode" class="img-responsive" src="" alt="QR Code"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h1 class="text-center">Game Start in <strong id="seconds">5</strong> Seconds.</h1>
        </div>
    </div>
</div>

</body>
<script src="/javascripts/phaser.min.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/messenger.min.js"></script>
<script src="/javascripts/messenger-theme-future.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/funrun.js"></script>
</html>


