<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>ChatRoom 18-652</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/messenger.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/chatroom.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/messenger-theme-future.css">
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/me">18-652 ChatRoom</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <img width="48" class="pull-left" src="/avatar/{{me.userID}}.png" />
                    <li class="dropdown">
                        <a id="username" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{me.username}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <br />
    <br /><br />
    <div class="row">
    <ol class="breadcrumb">
        <li><a href="/me">Home</a></li>
        <li><a href="#">{{roomInfo.roomName}}</a></li>
    </ol>
        </div>
    <div class="row">
        <div class="panel panel-warning col-xs-3">
            <div class="panel-heading">Player List</div>
            <div class="panel-body">
                <ul class="list-unstyled" id="players">
                    <li class="li-name">
                                <span class="label label-primary player-name">{{me.username}}
                                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                                    </span>
                                </span>
                    </li>
                    {{#each chatters}}
                        <li class="li-name">
                            <span  class="label label-default player-name">{{.}}</span>
                            <button class="btn btn-success pull-right btn-sm" type="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Friend
                            </button>

                        </li>

                    {{/each}}
                </ul>
            </div>
        </div>
        <div id="game" class="col-sm-6 col-xs-9 panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <div class="media chatroom-body" id="chatroom-content">
                </div>
            </div>
            <div class="panel-footer">

                <div class="input-group">
                    <input type="text" id="chatroom-text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-send" aria-hidden="true" id="sendMsg">
                                    </span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture" data-toggle="modal" data-target="#exampleModal" aria-hidden="true" id="sendPic">
                                    </span></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Send Image</h4>
                            </div>
                            <form action="/new" method="POST" id="upload-image" >
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="image" class="pull-left">Select An Image</label><br>
                                        <input type="file" class="form-control" id="image" name="image" required="required">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a type="button" class="btn btn-danger col-xs-12" id="exit">Exit</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">Scan to join!</div>
                    <div class="panel-body">
                        <img id="qrcode" class="img-responsive" src="" alt="QR Code"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer class="footer"><p class="text-center">Travers, Wang Cheng, June 2015. All Right reserved.</p></footer>
</div>

</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/messenger.min.js"></script>
<script src="/javascripts/messenger-theme-future.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/funrun.js"></script>
</html>


